.dish {
  display: flex;
  flex-direction: row;
}

.name {
  flex-grow: 8;
}

hr {
  width: 100%;
}

.price {
  flex-grow: 2;
  text-align: right;
  padding:0 20px 20px 0;
}

.group {
  flex-grow: 1;
  text-align: center;
}

.description {
  padding: 0px 20px 5px;
}

body {
  font-family: Verdana;
  color: black;
}